#VS code
.vscode/
.micropico/

# Python cache
__pycache__/
*.pyc

# Micropython bytecode
*.mpy

# Build složky (kdybys někdy dělal C/C++)
build/

# Log soubory
*.log

# Lokální nastavení
.settings/

# Tajné soubory s WiFi údaji
wifi.json